[data-md-color-scheme="magmo.com"] {
  --md-primary-fg-color: #ad5235;
  --md-primary-fg-color--light: #f06000;
  --md-primary-fg-color--dark: #707070;
}

[data-md-color-scheme="statechannels.org"] {
  --md-primary-fg-color: #3531ff;
  --md-primary-fg-color--light: #6e6cf9;
  --md-primary-fg-color--dark: #0400f7;
}
