name: Go

on:
  push:
    branches: [main]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v3
        with:
          go-version: '^1.18.0'
      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v3.1.0

      - name: Build
        run: go build -v ./...

      - name: Test
        run: go test -v ./... -count=2 -shuffle=on
        timeout-minutes: 1

      - name: Archive logs
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: integration-test-logs
          path: ./**/*.log

      - name: Tidy
        run: go mod tidy

      - name: check git tree is clean
        # This will fail the job if any previous step (re)generated a file
        # that doesn't match what you checked in (or forgot to check in)
        run: git diff --exit-code
