name: Run Testground Nightly
on:
  schedule:
    # Run at 05:00 UTC every day
    - cron:  '0 5 * * *'
jobs:
  run-testground-nightly:
      runs-on: ubuntu-latest
      container: iptestground/testground:edge
      steps:
      - uses: actions/setup-go@v3
        with:
          go-version: "^1.20.0"
      # Get testground and our test plan code
      - uses: actions/checkout@v3
        with:
         repository: 'statechannels/testground'
         path: "code/testground"
      - uses: actions/checkout@v3
        with:
          repository: 'statechannels/go-nitro-testground'
          path: "code/go-nitro-testground"
          ref: main

      # Update our test plan so it uses the latest main of go-nitro
      - name: Update Test Dependency
        run: go get github.com/statechannels/go-nitro@main
        working-directory: "code/go-nitro-testground"

      - name: Import Test 
        run:    testground plan import --from ./go-nitro-testground
        working-directory: "code"

      - name: Run 5 min Test 
        run: | 
         testground --endpoint=${{secrets.TG_SERVER_URL}}  run s --wait \
         -tp=isNightly=true -p=go-nitro-testground -t=virtual-payment \
         -b=docker:go -r=local:docker \
         -tp=numOfHubs=1 -tp=numOfPayers=2 -tp=numOfPayees=5  -i=8 \
         -tp=paymentTestDuration=300  -tp=concurrentPaymentJobs=3 \
         --tp=networkLatency=10 --tp=networkJitter=1 \
         --metadata-repo "${{github.repository}}" \
         --metadata-branch "${{github.event.pull_request.head.ref}}" \
         --metadata-commit "${{github.event.pull_request.head.sha}}"  | tee run.out
          
