name: TypeScript RPC Client Test

on:
  pull_request:
  workflow_dispatch:
jobs:
  run-rpc-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v3
        with:
          go-version: "^1.20.0"
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          cache: "yarn"

      # Install foundry so we can use it to run a chain instance
      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1

      - name: Install dependencies
        run: yarn

      - name: Build UI
        run: make ui/build

      - name: Run go-nitro RPC servers with GUI
        run: go run ./cmd/start-rpc-servers -ui=true &> output.log &

      - name: Run Create Channels script
        # TODO: We could write a test specific script that creates channels and checks the results
        run: npx ts-node ./scripts/client-runner.ts create-channels -w 300000 &> output.log
        working-directory: packages/nitro-rpc-client

      - name: Archive logs
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: logs
          path: ./**/*.log
